name: Deploy AWS Lambda Functions

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.LAMBDA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Upload to AWS Lambda Function ${{ inputs.lambda-dir }}
        run: |
          cd ${{ inputs.path }} \
          zip -r lambda.zip ./${{ inputs.lambda-dir }} ./utils/* \
          aws lambda update-function-code \
            --function-name ${{ inputs.lambda-dir }} \
            --zip-file fileb://lambda.zip

