name: Continous Integration testing

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AWS_DEFAULT_REGION: us-east-1
      AWS_REGION: us-east-1

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint for Python
      run: |
        output=$(pylint src tests --exit-zero)
        echo "$output"
      
    - name: Run tests with Pytest
      run: |
        pytest
    - name: Build coverage html
      run: |
        pytest --cache-clear --cov=backend --cov-report=html --cov-report=term-missing --cov-fail-under=80

    - name: Archive code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: htmlcov/
