name: Deploymnent to AWS

on:
  workflow_dispatch:
  push:
    branches:
      - main


jobs:
  ## LAMBDA FUNCTION DEPLOYMENT ##
  deploy-rate:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Rate
      path: ./backend

  deploy-register:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Upload
      path: ./backend

  ## ENDPOINT LAMBDA FUNCTION DEPLOYMENT ##
  # note: use path: ./backend/endpoint_setup
  deploy-register-artifact-setup:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Register_Artifact_Setup
      path: ./backed

