name: Manual Dummy Deploy to AWS Lambda

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.S3_AWS_ACCESS_KEY }}
        aws-secrete-access-key: ${{ secrets.S3_AWS_SECRETE_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Upload to AWS S3
      run: |
        aws s3 sync ./frontend s3://$S3_BUCKET --delete
      env:
        S3_BUCKET: ${{ secrets.S3_STATIC_WEB_BUCKET }}

