# Orchestrates deployment of multiple AWS Lambda functions for backend services.
# Triggered manually via workflow_dispatch or on push to main branch.
# Calls individual Lambda deployment workflows for each service.

name: Deploymnent to AWS

on:
  workflow_dispatch:
  push:
    branches:
      - main


jobs:
  ## LAMBDA FUNCTION DEPLOYMENT ##
  deploy-artifacts:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Artifacts
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}
  
  deploy-rate:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Rate
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}

  deploy-delete:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Delete
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}




  deploy-regex:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Regex
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}

  deploy-Get_Rate:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Get_Rate
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}


  deploy-Get_Cost:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Get_Cost
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}


  deploy-register:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Upload
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}

  deploy-health:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Health
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}

  deploy-track:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Track
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}

  deploy-reset:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Reset
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}
      
  deploy-get-artifact-id:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Get_Artifact_Id
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}

  ## ENDPOINT LAMBDA FUNCTION DEPLOYMENT ##
  # note: use path: ./backend/endpoint_setup
  deploy-register-artifact-setup:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Register_Artifact_Setup
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}


  deploy-get-cost:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Get_Cost
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}
