name: Deploymnent to AWS

on:
  workflow_dispatch:
  push:
    branches:
      - main


jobs:
  ## LAMBDA FUNCTION DEPLOYMENT ##
  deploy-rate:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Rate
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}


  deploy-register:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Upload
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}


  ## ENDPOINT LAMBDA FUNCTION DEPLOYMENT ##
  # note: use path: ./backend/endpoint_setup
  deploy-register-artifact-setup:
    uses: ./.github/workflows/aws_lambda_deploy.yml
    with:
      lambda-dir: Register_Artifact_Setup
      path: ./backend
    secrets:
      LAMBDA_AWS_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
      LAMBDA_AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_SECRET_ACCESS_KEY }}


